{{> post }}

{{#each comments as |comment| }}
{{> comments }}
{{/each}}

{{!-- {{#each post.comment as |comment| }}
<div class="row mb-4 border border-dark post">
  <div class="d-flex justify-content-between post-header">
  </div>
  <div class="col-md-12 post-body">
    <p>
      {{comment.comment_content}} --{{comment.user.username}} on {{comment.date_created}}
    </p>
  </div>
</div>
{{/each}} --}}
{{!-- <div class="row mb-4 border border-dark post">
    <div class="d-flex justify-content-between post-header">
    </div>
    <h4>
        Comment
    </h4>
    <form class="form new-comment-form">
        <div class="form-group">
            <textarea class="form-input" id="comment" name="comment">
            </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>
</div> --}}

<script src="./js/comment.js"></script>